<ul class="nav nav-pills flex-column nav-secondary">
	<li class="nav-item">
		<a class="nav-link {{#if overview}}active{{/if}}" href="./">Overview</a>
	</li>
	<li class="nav-item">
		<a class="nav-link {{#if getting-started}}active{{/if}}" href="getting-started.html">Getting started</a>
	</li>
	<li class="nav-item">
		<a class="nav-link {{#if examples}}active{{/if}}" href="examples.html">Examples</a>
	</li>
	<li class="nav-item">
		<a class="nav-link {{#if options}}active{{/if}}" href="options.html">Options</a>
	</li>
	<li class="nav-item">
		<a class="nav-link {{#if features}}active{{/if}}" href="features.html">Features</a>
	</li>
</ul>
