{{> meta/head}}

<div class="row">
  <div class="col-md-3">

    {{> nav/secondary features=true }}

  </div>
  <div class="col-md-9">

    <div class="page-header">
      <h1>Bootstrap Select Dropdown <small>for Bootstrap 4</small></h1>
    </div>
    <p class="lead">A jQuery plugin for Bootstrap 4 that converts <code>&lt;select&gt;</code> and <code>&lt;select multiselect&gt;</code> elements to dropdowns. Uses fuse.js for fuzzy search and Bootstrap's dropdown plugin.</p>

    <div class="page-header">
      <h2 id="features">Features</h2>
    </div>

    <h3>Accessibility</h3>

    <p>This plugin replaces <code>select</code> elements with Bootstrap dropdowns. As a result, <a href="https://getbootstrap.com/docs/4.0/components/dropdowns/#accessibility">Bootstrap dropdown accessibility considerations</a> apply.</p>

    <p>In addition, the <code>aria-labelledby</code> attribute is automatically applied. For each instance of the plugin, a unique <code>aria-labelledby</code> attribute on the dropdown menu is matched with a corresponding <code>id</code> on the dropdown button.</p>

  </div><!-- /.col-md-9 -->
</div><!-- /.row -->

{{> meta/foot}}
{{> meta/end}}
