{{> meta/head}}

<div class="row">
  <div class="col-md-3">

    {{> nav/secondary options=true }}

  </div>
  <div class="col-md-9">

    <div class="page-header">
      <h1>Bootstrap Select Dropdown <small>for Bootstrap 4</small></h1>
    </div>
    <p class="lead">A jQuery plugin for Bootstrap 4 that converts <code>&lt;select&gt;</code> and <code>&lt;select multiselect&gt;</code> elements to dropdowns. Uses fuse.js for fuzzy search and Bootstrap's dropdown plugin.</p>

    <div class="page-header">
      <h2 id="options">Options</h2>
    </div>

    <p>Plugin defaults:</p>

<pre><code>{{{ htmlentities
'$(document).ready(function(){
$("#multiselect").selectDropdown({
// Behaviour
maxListLength: 4, // Maximum number of <option> text() values to display within the button.
hideSelect: true, // Hide the select element.
multiselectStayOpen: true, // Keep dropdown open on interaction for multiselects.
search: true, // Wrap the dropdown button in an input group with search form controls.
observeDomMutations: false, // Respect dynamic changes to the select options.
maxHeight: "300px", // Make the dropdown scrollable if beyond this height. Set as false to disable.

// Text.
textNoneSelected: "None selected",
textMultipleSelected: "Multiple selected",
textNoResults: "No results",

// HTML.
htmlClear: "Clear search",

// Classes
classDropdown: "dropdown",
classBtnClear: "btn btn-outline-secondary",
classBtnSearch: "btn btn-primary",
classMenu: "dropdown-menu",
classItem: "dropdown-item"
})
});'
}}}</code></pre>

    <h3>maxListLength</h3>

    <p>
      <em>Default: 4.</em>
    </p>

    <p>
      For <code>multiselect</code> elements, limit the number of options to list as comma separated values within the dropdown button elements. If the number of selected options exceeds this limit, the value of <code>textMultipleSelected</code> will be displayed.
    </p>

    <h3>hideSelect</h3>

    <p>
      <em>Default: true.</em>
    </p>

    <p>Hide the <code>select</code> element. This is expected. However, you may wish to unhide the <code>select</code> element for testing.</p>

    <h3>multiselectStayOpen</h3>

    <p>
      <em>Default: true.</em>
    </p>

    <p>
      For <code>multiselect</code> elements, keep the dropdown menu open on interaction. Normally, a dropdown menu closes when you select an item. However, for <code>multiselect</code>, we may wish for the menu to stay open to enable the user to conveniently select other options.
    </p>

    <h3>search</h3>

    <p>
      <em>Default: true.</em>
    </p>

    <p>
      Convert the dropdown button to an <code>input-group</code>, with a search form control and a <strong>clear search</strong> button.
    </p>

    <h3>observeDomMutations</h3>

    <p>
      <em>Default: false.</em>
    </p>

    <p>
      Monitor changes to the option list of the <code>select</code> element, and adjust <code>selectDropdown</code> behaviour accordingly. This option is disabled by default due to the performance impact.
    </p>

    <h3>maxHeight</h3>

    <p>
      Default: 300px.
    </p>

    <p>
      Set a max height on the dropdown, enabling it to be scrollable. This can be disabled by setting the option to <code>false</code>.
    </p>

    <h3>textNoneSelected</h3>

    <p>
      <em>Default: None selected.</em>
    </p>

    <p>
      This text is set on the dropdown button when the following conditions are met:
    </p>

    <ul>
      <li>
        The <code>select</code> element is a <code>multiselect</code>.
      </li>
      <li>
        No selections have been made.
      </li>
    </ul>

    <h3>textMultipleSelected</h3>

    <p>
      This text is set on the dropdown button when the following conditions are met:
    </p>

    <ul>
      <li>
        The <code>select</code> element is a <code>multiselect</code>.
      </li>
      <li>
        More than <code>maxListLength</code> selections have been made.
      </li>
    </ul>

    <h3>textNoResults</h3>

    <p>
      <em>Default: No results.</em>
    </p>

    <p>
      This text appears when a search yields no results.
    </p>

    <h3>htmlClear</h3>

    <p>
      Include your own text/HTML value for the <strong>clear search</strong> button (which appears when <code>search</code> is <code>true</code>).
    </p>

    <p>
      The example below uses an SVG sprite icon from <a href="https://rastasheep.github.io/ionicons-sprite/">Ionicons sprite</a> by <a href="https://rastasheep.github.io/">rastasheep</a> who created sprites from <a href="http://ionicons.com/">ionicons</a>, the premium icon font for <a href="http://ionicframework.com/">Ionic Framework</a>.
    </p>

    <div class="form-group">
      <select id="demo_select_htmlclear" class="form-control">
        <option value="1">Option 1</option>
        <option value="2">Option 2</option>
        <option value="3">Option 3</option>
        <option value="4">Option 4</option>
        <option value="5">Option 5</option>
        <option value="6">Option 6</option>
        <option value="7">Option 7</option>
        <option value="8">Option 8</option>
        <option value="9">Option 9</option>
        <option value="10">Option 10</option>
        <option value="11">Option 11</option>
        <option value="12">Option 12</option>
        <option value="13">Option 13</option>
        <option value="14">Option 14</option>
        <option value="15">Option 15</option>
        <option value="16">Option 16</option>
        <option value="17">Option 17</option>
        <option value="18">Option 18</option>
      </select>
    </div>

<pre><code>{{{ htmlentities
'$(document).ready(function(){
$("select#demo_select_htmlclear").selectDropdown({
"htmlClear": \'<svg class="ion"><use xlink:href="#ion-close-circled"></use></svg>\'
});
});'
}}}</code></pre>

    <h3>classDropdown</h3>

    <p>
      <em>Default: dropdown.</em>
    </p>

    <p>
      The class applied to the dropdown element. The default is Bootstrap 4 markup.
    </p>

    <h3>classBtnClear</h3>

    <p>
      <em>Default: btn btn-outline-secondary.</em>
    </p>

    <p>
      The class applied to the dropdown element. The default is a Bootstrap 4 outline button with secondary colors.
    </p>

    <h3>classBtnSearch</h3>

    <p>
      <em>Default: btn btn-primary.</em>
    </p>

    <p>
      The class applied to the dropdown element. The default is a Bootstrap 4 button with primary colors.
    </p>

    <h3>classMenu</h3>

    <p>
      <em>Default: dropdown-menu.</em>
    </p>

    <p>
      The class applied to the dropdown menu element. The default is Bootstrap 4 markup.
    </p>

    <h3>classItem</h3>

    <p>
      <em>Default: dropdown-item.</em>
    </p>

    <p>
      The class applied to each dropdown item element. The default is Bootstrap 4 markup.
    </p>

  </div><!-- /.col-md-9 -->
</div><!-- /.row -->

{{> meta/foot }}
