<div class="page-header">
	<h1>Bootstrap Select Dropdown <small>for Bootstrap 4</small></h1>
</div>
<p class="lead">A jQuery plugin for Bootstrap 4 that converts <code>&lt;select&gt;</code> and <code>&lt;select multiselect&gt;</code> elements to dropdowns. Uses Bootstrap's dropdown plugin and fuse.js for fuzzy search.</p>
